### بسم الله الرحمن الرحيم

In [121]:
import re
import nltk
import numpy as np
import pandas as pd
import string
import matplotlib.pyplot as plt
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
from nltk.stem.porter import PorterStemmer
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer

#### download stopwords

In [42]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /home/biruni/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [72]:
stopwords_list = set(stopwords.words('english'))
print(stopwords_list)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [84]:
data_frame = pd.read_csv('./Data_Set/data_spam.csv')

In [85]:
data_frame = data_frame[['v1', 'v2']]

In [86]:
# display (rows, colmuns)
data_frame.shape

(5572, 2)

In [87]:
data_frame.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [88]:
# counting the number of missing values in the dataset
data_frame.isnull().sum()

v1    0
v2    1
dtype: int64

In [89]:
# replacing the null values with empty string
data_frame = data_frame.fillna('')

In [90]:
# counting the number of duplicated values in the data_frame
data_frame.duplicated().sum()

408

In [102]:
# remove duplicated values in the data_frame
data_frame = data_frame.drop_duplicates()

In [111]:
# replace "spam" with 0 & "ham" with 1
data_frame['v1'].replace({'spam': 0, 'ham': 1}, inplace=True)

In [122]:
port_stem = PorterStemmer()
lemmatizer = WordNetLemmatizer()

In [69]:
def stemming(content):
    stemmed_content = re.sub('[^a-zA-Z]',' ',content)
    stemmed_content = stemmed_content.lower()
    stemmed_content = stemmed_content.split()
    stemmed_content = [port_stem.stem(word) for word in stemmed_content if not word in stopwords_list]
    stemmed_content = ' '.join(stemmed_content)
    return stemmed_content

In [74]:
data_frame['v2'] = data_frame['v2'].apply(stemming)

In [103]:
X = data_frame.drop(columns='v1', axis=1)
Y = data_frame['v1']

In [105]:
X.head()

                                                  v2
0  Go until jurong point, crazy.. Available only ...
1                      Ok lar... Joking wif u oni...
2  Free entry in 2 a wkly comp to win FA Cup fina...
3  U dun say so early hor... U c already then say...
4  Nah I don't think he goes to usf, he lives aro...

In [106]:
Y.head()

0    1
1    1
2    0
3    1
4    1
Name: v1, dtype: int64

In [104]:
# split dataFrame 80% for traing and 20% for testing.
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, stratify=Y, random_state=2)

                                                     v2
4646  God created gap btwn ur fingers so dat sum1 vr...
2679  New Tones This week include: 1)McFly-All Ab..,...
5137  YOU VE WON! Your 4* Costa Del Sol Holiday or �...
2324                                            Ok lor.
5406                 Dear are you angry i was busy dear